@use "./../../../helpers/mixins" as m;
@use "./../../../helpers/variables" as v;

@mixin hero() {
  width: 100%;
  height: auto;
  min-height: 80vh;
  padding: 2.8% v.$p-horizontal-main;
  background-color: map-get($map: v.$color, $key: "green");
  position: relative;

  &-categories {
    width: fit-content;
    height: auto;
    position: absolute;
    bottom: -15vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    box-shadow: 4px 2px 30px rgba($color: #000, $alpha: 0.08),
      -4px 2px 30px rgba($color: #000, $alpha: 0.08);
    background-color: #fff;
    border-radius: 0.4vw;

    &-item {
      width: 15vw;
      min-height: 30vh;
      height: auto;
      background-color: #fff;
      @include m.flex($direction: column);
      z-index: 3;
      gap: 0.3vh;

      &:first-child {
        border-top-left-radius: 0.4vw;
        border-bottom-left-radius: 0.4vw;
      }

      &:last-child {
        border-top-right-radius: 0.4vw;
        border-bottom-right-radius: 0.4vw;
      }

      &.active {
        z-index: 4;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-shadow: 2px 2px 20px rgba($color: #000, $alpha: 0.08),
            -2px 2px 20px rgba($color: #000, $alpha: 0.08),
            2px -2px 20px rgba($color: #000, $alpha: 0.08),
            -2px -2px 20px rgba($color: #000, $alpha: 0.08);
          border-radius: 0.4vw;
          background-color: map-get($map: v.$color, $key: "navy");
          transform: scaleX(1.1) scaleY(1.2);
          z-index: -1;
        }

        .text {
          color: #fff;
        }

        .go-detail {
          margin-top: 3.2vh;
          @include m.circle(2.6vw);
          @include m.flex($direction: column);
          gap: 0.3vh;
          background-color: #fff;
          cursor: pointer;

          span {
            width: 0.6vw;
            height: 0.4vh;
            background-color: map-get($map: v.$color, $key: "brown");
            border-radius: 0.8vw;

            &:first-child {
              transform: rotate(45deg);
            }

            &:last-child {
              transform: rotate(135deg);
            }
          }
        }
      }

      .icon {
        color: map-get($map: v.$color, $key: "brown");
      }

      .text {
        color: map-get($map: v.$color, $key: "navy");
        font-family: v.$lato;
        font-weight: 500;
        cursor: pointer;
      }
    }

    &-line {
      width: 0.25vw;
      height: auto;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        top: 50%;
        height: 8vh;
        transform: translateY(-50%);
        border-radius: 2vw;
        background-color: map-get($map: v.$color, $key: "brown");
      }
    }
  }
}
